@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Query ASM</h1>
    <p class="lead">Poorly named project to show querying ARM/ASM</p>
</div>

<div class="row">
    <div>@Html.ActionLink("Subscriptions", actionName: "Subscriptions", controllerName:"ArmApi")</div>
</div>